/* You should edit the content below to fit your website */

* {
	font-family: Times New Roman, Verdana, sans-serif;
	color: #4E6766;
	text-align: center;

}
h1{
	background-color: #efefef;
	padding:  10px;
	margin: 10px;
	
}
body {
	width:  960px;
	margin:  0 auto;
	
}

nav {
	background-color: #BDBBB0;
	padding:  10px;
	margin: 10px;
	
}
li {
display:  inline;
padding: 5px;
}

section {
	overflow:  auto;
	height: 100%;
}

main {
	background-color: #efefef;
	padding:  10px;
	margin:  10px;
}

article{
	color: #D01E11;
	background-color: #efefef;
	padding:  10px;
	margin:  10px;
	width:  280px;
	float:  left;
}
.mart{
	background-color: #efefef;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table{
	padding: 10px;
}

th{
	padding: 10px;
}


footer{
	background-color: #efefef;
	padding:  10px;
	margin:  10px;
}






















